*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root
{
    font-size:16px;
}

html, body
{
    height:100%;
    width:100%;
}

.head 
{
    height:10%;
    width:100%;
    background:#000000;
    display:flex;
    align-items:center;
    color:#ffffff;

}

.logo
{
    height:100%;
    width:40%;
    font-size:1.5rem;
    display:flex;
    align-items:center;
    padding:0.7rem;
}

.nav 
{
    height:100%;
    width:50%;
    margin-left:9rem;
    display:flex;
    align-items:center;
}

.nav .list 
{
    list-style:none;
}

.list li
{
    display:inline;
    margin:2rem;    
}

li a
{
    text-decoration:none;
    color:#ffffff;
}

a:hover 
{
    cursor:pointer;
    border:2px solid #ffffff;
}

/* navigation part has just ended here 
from here we will start coding about the content part*/

.section
{
    height:80%;
    width:100%;
    margin-top:2rem;
    display:flex;
    justify-content:center;
}

.form 
{
    height:100%;
    width:80%;
    padding:2rem 5rem;
    background:orange;
    font-size:1.2rem;
    font-weight:bolder;
}

input[type=text]
{
    width:480%;
    padding:0.3rem 0.3rem;
    size:50;
    margin-top:0.4rem;
}

.btn
{
    height:2rem;
    width:4rem;
    margin-top:2rem;
}

.last 
{
    margin-top:2rem;
    margin-left:1.4rem;
}

.footer 
{
    height:10%;
    width:100%;
    background:#000000;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
}